@page
@using System.Security.Claims
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{

    ClaimsPrincipal user = User;
    var userId = user.Claims.FirstOrDefault(x => x.Type == "Id").Value ?? "";
    var userEmail = user.Claims.FirstOrDefault(x => x.Type == "Email").Value ?? "";
    var userDisplayName = user.Claims.FirstOrDefault(x => x.Type == "DisplayName").Value ?? "";

    <h6> Welcome <b style="color: red; font-size: 22px;">@User.Identity.Name</b></h6>
    <ul>
        <li>Id : @userId</li>
        <li>Email : @userEmail</li>
        <li>Display name : @userDisplayName</li>
    </ul>
    <p>
        <a href="/User/Logout" style="text-decoration: underline;">Logout</a>
    </p>
}

<script src="~/Metronic1/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
<script src="~/Metronic1/assets/js/scripts.bundle.js" type="text/javascript"></script>