@{ 
    Layout = null;
}

<h2>Not Authenticated</h2>

<script src="~/Metronic1/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
<script src="~/Metronic1/assets/js/scripts.bundle.js" type="text/javascript"></script>
